/* GOOGLE FONTS   */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");

/* common style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}
/* end of common style */

/* section one */
.section-one {
  width: 100%;
  height: 100vh;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.heading-section-one,
.heading-section-two,
.heading-section-three {
  font-size: 15rem;
  font-weight: 900;
  color: #14213d;
  text-shadow: 0.2rem 0.2rem 0.3rem #000000;
  text-align: center;
}

.section-one-icons img {
  width: 30rem;
  height: auto;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  filter: drop-shadow(0.3rem 0.3rem 0.5rem #14213d);
  transition: transform 0.3s;
}

.section-one-icons img.change {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s 0.3s;
}
/* End of section one */

/* section two */
.section-two {
  width: 100%;
  height: 100vh;
  background: #e63946;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem 0;
}

.heading-section-two {
  color: #e5e5e5;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 30rem;
  height: 45rem;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  box-shadow: 0.3rem 0.3rem 0.8rem #14213d86;
  transform: rotateY(20deg) skewX(-2deg);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.card::before {
  content: "";
  height: 100%;
  width: 1rem;
  background: #b5bbb3;
  position: absolute;
  top: 0;
  left: -1rem;
  transform: skewY(45deg);
  transform-origin: right;
  border-right: 0.1rem solid #b5bbb3;
  box-shadow: -0.1rem 0.1rem 0.1rem rgba(121, 121, 121, 0.233);
}

.card::after {
  content: "";
  height: 1rem;
  width: 100%;
  background: #d1d3d0;
  position: absolute;
  top: -1.1rem;
  left: 0;
  box-shadow: -0.1rem -0.1rem 0.1rem rgba(121, 121, 121, 0.233);
  border-bottom: 0.1rem solid #d1d3d0;
  transform: skewX(43deg);
  transform-origin: bottom;
}

.card:hover {
  transform: translateY(-3rem);
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.24);
}

.card-img {
  width: 90%;
  height: auto;
  filter: drop-shadow(0.3rem 0.3rem 0.5rem #14213d);
}

.card-title {
  font-size: 2.5rem;
  font-weight: 900;
  color: #14213d;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 0.1rem 0.1rem 0.2rem #14213d;
  margin: 2rem 0;
  cursor: default;
}

.card-btn {
  width: 80%;
  background-color: #14213d;
  color: #e5e5e5;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.26);
  transition: letter-spacing 0.1s linear;
}

.card-btn:hover {
  letter-spacing: 0.4rem;
}
/* End of section two */

/* section three */
.section-three {
  background: #e5e5e5;
  padding: 5rem 0;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10rem;
}

.gallery-link {
  position: relative;
  margin: 3rem 1rem;
}

.gallery-link::before {
  content: "";
  width: 0.2rem;
  height: 80%;
  background-color: #e5e5e5;
  position: absolute;
  right: 20%;
  top: 3rem;
  height: 0;
  z-index: 1;
  transition: height 0.5s;
}

.gallery-link:hover::before {
  height: 80%;
}

.gallery-link::after {
  content: "";
  width: 90%;
  height: 0.2rem;
  background-color: #e5e5e5;
  position: absolute;
  left: 2rem;
  top: 30%;
  width: 0;
  transition: width 0.5s;
}

.gallery-link:hover::after {
  width: 90%;
}

.gallery-image {
  width: 24vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 0.2rem;
  box-shadow: 0.3rem 0.3rem 0.1rem #f9c80e, 0.5rem 0.5rem 0.1rem #f86624,
    0.7rem 0.7rem 0.1rem #ff4800, 0.9rem 0.9rem 0.1rem #1d3557;
  transition: all 0.5s;
}

.gallery-link:hover .gallery-image {
  box-shadow: 0.5rem 0.5rem 0.1rem #f9c80e, 1rem 1rem 0.1rem #f86624,
    2rem 2rem 0.1rem #ff4800, 3rem 3rem 0.1rem #1d3557;
  filter: blur(0.5rem) brightness(50%);
  opacity: 0.6;
  transform: scale(1.03);
}

.food-name {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 2rem;
  color: #e5e5e5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 0;
  overflow: hidden;
  transition: width 0.5s;
}

.gallery-link:hover .food-name {
  width: 100%;
  transition: width 1.5s 0.5s;
}

.food-description {
  position: absolute;
  left: 3rem;
  bottom: 6rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #e5e5e5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
}

.gallery-link:hover .food-description {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s 1s;
}

/* End of section three */
